{% extends 'course/home.html' %}

{% block title %}Courses{% endblock %}

{% block body %}
<div class="container">
    <h2 class="mt-5">Courses</h2>
    {% if uploads %}
        <ul class="list-group mt-3">
            {% for upload in uploads %}
                <li class="list-group-item">
                    <p>Course Name: {{ upload.pdf_document }}</p>
                    {{ upload.title }} - <a href="{{ upload.file.url }}" target="_blank">View PDF</a>
                    <!-- Display the related PDFDocument name here -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses available.</p>
    {% endif %}
</div>
{% endblock %}