<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% for message in messages %}
        <div class = "alert alert-{{ message.tags }} alert-dismissable fade show" role = "alert">
            <strong>System: </strong> {{ message }}
        </div>
        {% endfor %}
        
        <h3>Log In</h3>

        <form action = "/signin" method = "post">
        {% csrf_token %}

            <label for="">Username</label>
            <input type="text" id = "username" name = "username" placeholder = "Enter Username" Required>
            <br><br>

            <label for = "">Password</label>
            <input type = "password" id = "password1" name = "password1" placeholder = "Enter Password" Required>
            <br><br>
            
            <button type = "submit">Log In</button>
            <button type = "submit"><a href = "/">Back</a></button>
        </form>

        <script src="" async defer></script>
    </body>
</html>